@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

#head {
  height: 400px;
  width: max;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: "Bungee", cursive;
}
#input_box {
  height: 40px;
  width: 340px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 3px 3px rgb(211, 211, 211);
}

#plus_button {
  width: 30px;
  height: 30px;
}

#input_in {
  width: 300px;
  border: 0;
  margin-right: -5px;
}
#button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
