@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

#head {
  height: 300px;
  width: max;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("patton.jpg");
  background-size: cover;
  position: relative;
  border-bottom: 2px;
}

#input_box {
  height: 40px;
  width: 340px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 220px;
}

#title {
  font-family: "Bungee", cursive;

  font-size: 50px;
  position: absolute;
  top: 30px;
}

#plus_button {
  width: 30px;
  height: 30px;
}

#input_in {
  width: 300px;
  border: 0;
  margin-right: -5px;
  border: none;
  outline: none;
}
#button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

#list_box {
  height: 800px;
  width: max;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list_item {
  font-size: 30px;
  font-family: "Bungee", cursive;
}
